# Mifflin Doty Dynasty trade policy
hard_untouchables:
  - Drake London
  - Harold Fannin

protected_players:
  - Jayden Daniels
  - Jaxon Smith-Njigba

protected_pick_patterns:
  - 2027 1st
  - 2028 1st
